<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=Nunito+Sans:wght@400;700;900&family=Reem+Kufi:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- El resto de la ruta lo supone él de la ruta que ponemos en el servidor de estáticos, porque cuando trabajamos con el back siempre comenzamos en la carpeta raiz del proyecto todas las rutas -->
    <link rel="stylesheet" href="/index.css" />
    <title><%=title%></title>
  </head>
  <body>
    <section class="cardMovie">
      <img
        class="cardMovie__img"
        src="<%= image %>"
        alt="Carátula de <%=title%>"
      />
      <h3 class="cardMovie__title"><%=title%></h3>
      <p class="cardMovie__description">Género: <%= gender %></p>
    </section>
  </body>
</html>
